name: Approve Instance Management

on:
  issue_comment:
    types: [created]

jobs:
  approve:
    runs-on: ubuntu-latest
    if:
      ${{ !github.event.issue.pull_request &&
      contains(github.event.issue.labels.*.name, 'request-type:instance') && (
      contains(github.event.comment.body, '/approve') ||
      contains(github.event.comment.body, '/unapprove')) }}
    steps:
      - name: approve command
        id: approve_command
        uses: github/command@v2.0.2
        with:
          command: "/approve"
          reaction: "rocket"
          allowed_contexts: "issue"
          permissions: "write,maintain,admin"
          allowlist: "${{ vars.MORPHOCLOUD_GITHUB_ADMINS }}"

      - name: unapprove command
        id: unapprove_command
        uses: github/command@v2.0.2
        with:
          command: "/unapprove"
          reaction: "rocket"
          allowed_contexts: "issue"
          permissions: "write,maintain,admin"
          allowlist: "${{ vars.MORPHOCLOUD_GITHUB_ADMINS }}"

      - name: Set command metadata
        id: command
        if:
          ${{ steps.approve_command.outputs.continue == 'true' ||
          steps.unapprove_command.outputs.continue == 'true' }}
        run: |
          if [[ "$APPROVE_COMMAND_CONTINUE" == "true" ]]; then
            continue="$APPROVE_COMMAND_CONTINUE"
            command_name="approve"
            comment_id="${{ steps.approve_command.outputs.comment_id }}"
          elif [[ "$UNAPPROVE_COMMAND_CONTINUE" == "true" ]]; then
            continue="$UNAPPROVE_COMMAND_CONTINUE"
            command_name="unapprove"
            comment_id="${{ steps.unapprove_command.outputs.comment_id }}"
          else
            continue="false"
            command_name=""
            comment_id=""
          fi
          echo "continue=$continue" >> $GITHUB_OUTPUT
          echo "command_name=$command_name" >> $GITHUB_OUTPUT
          echo "comment_id=$comment_id" >> $GITHUB_OUTPUT
        env:
          APPROVE_COMMAND_CONTINUE:
            ${{ steps.approve_command.outputs.continue }}
          UNAPPROVE_COMMAND_CONTINUE:
            ${{ steps.unapprove_command.outputs.continue }}

      - uses: actions/checkout@v5

      - name: Update approval
        id: update_approval
        if: ${{ steps.command.outputs.continue == 'true' }}
        uses: ./.github/actions/update-approval
        with:
          issue_number: ${{ github.event.issue.number }}
          command_name: ${{ steps.command.outputs.command_name }}
          instance_name_prefix: ${{ vars.INSTANCE_NAME_PREFIX }}
          token: ${{ secrets.GITHUB_TOKEN }}
          string_encryption_key: ${{ secrets.STRING_ENCRYPTION_KEY }}
          mail_server_username: ${{secrets.MAIL_USERNAME}}
          mail_server_password: ${{secrets.MAIL_PASSWORD}}
