name: Delete Volume from Workflow

on:
  workflow_dispatch:
    inputs:
      issue_number:
        description: "Issue number"
        required: true
        type: number
      skip_approval_check:
        description: "Whether to skip instance management approval check"
        type: boolean
        default: false
  workflow_call:
    inputs:
      issue_number:
        description: "Issue number"
        required: true
        type: string
      skip_approval_check:
        description: "Whether to skip instance management approval check"
        type: boolean
        default: false
permissions:
  issues: write
  checks: read

jobs:
  control:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v6

      - name: Delete volume
        id: delete_volume
        uses: ./.github/actions/delete-volume
        with:
          os_cloud: ${{ vars.MORPHOCLOUD_OS_CLOUD }}
          token: ${{ secrets.GITHUB_TOKEN }}
          issue_number: ${{ inputs.issue_number }}
          instance_name_prefix: ${{ vars.INSTANCE_NAME_PREFIX }}
          volume_name_suffix: ${{ vars.VOLUME_NAME_SUFFIX }}
          skip_approval_check: ${{ inputs.skip_approval_check }}
